# --- CORE STREAMLIT APP ---
streamlit==1.32.0

# --- TORCH dan Pytorch Image Quality Assessment ---
torch==1.13.1
pyiqa==0.1.6

# --- OpenCV untuk pemrosesan citra ---
opencv-python-headless==4.7.0.72

# --- Numerik dan utility ---
numpy==1.23.5
scipy==1.9.3
scikit-image==0.19.3
tifffile==2022.10.10
Pillow==9.5.0

# --- Pandas untuk preset dan hasil evaluasi ---
pandas==1.5.3