# Streamlit App
streamlit==1.32.0

# Pytorch yang kompatibel dengan Python 3.12 dan pyiqa terbaru
torch==2.2.2
torchvision==0.17.2

# Pyiqa terbaru (kompatibel dengan torch>=2.x)
pyiqa==0.3.0

# OpenCV untuk cloud
opencv-python-headless==4.9.0.80

# Utilitas
numpy==1.26.4
pandas==2.2.2
scikit-image==0.22.0
tifffile==2023.7.10
Pillow==10.3.0